@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
* {
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
    color: rgb(57, 57, 57);
}

img {
    max-width: 100%;
}

nav li {
    list-style: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
}

h2 {
    text-transform: uppercase;
}

body {
    padding: 5%;
}

a:hover {
    text-decoration: underline;
    color: orange;
}

.portrait-me {
    border-radius: 50%;
    width: 50%;
    height: auto;
    border: 3px solid red;
}

.nav-list {
    position: relative;
    right: 5%;
}

.nav-itm a:visited,
a:link,
a:hover,
a:active {
    text-decoration: none;
    font-style: none;
}

.portfolio-container {
    padding-top: 10%;
    padding-bottom: 10%;
}

.hobby-itm {
    list-style: disc;
    list-style-position: inside;
    font-weight: initial;
    text-transform: none;
    padding: auto;
}

.contact-info a {
    text-decoration: none;
    font-style: none;
}

.top {
    margin: 16px 0;
}

#top {
    text-transform: uppercase;
}

h3 {
    font-weight: 600;
}

#portfolio {
    padding: 40px;
}

.project {
    padding-bottom: 25px;
}

.contact-info {
    font-weight: 700;
}

.contact-div p,
.intro-descr {
    color: rgb(89, 88, 88);
}

#top a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    font-style: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid rgb(89, 88, 88) 1px;
    margin-top: 100px;
}

.nav-footer {
    display: none;
}

@media screen and (min-width: 767px) {
    .nav-list {
        display: flex;
        margin: auto;
        width: 330px;
    }
    .section-1 {
        display: flex;
        flex-direction: row-reverse;
    }
    .portrait-me {
        padding-top: 0;
        width: 44%;
        height: auto;
    }
    .intro-descr {
        width: 66%;
        padding-right: 25px;
        text-align: left;
    }
    .project {
        float: left;
        width: 45%;
        margin: auto;
    }
    .project:nth-child(even) {
        margin-right: 10%;
    }
    .proj-descr {
        padding: 0 50px;
    }
    .contact-div {
        max-width: 75%;
        margin: auto;
    }
    .descr-contact {
        margin-bottom: 50px;
    }
    .top {
        display: none;
    }
    .nav-footer {
        display: flex;
        font-family: 'Otomanopee One', sans-serif;
        text-align: center;
        color: rgb(57, 57, 57);
    }
    .nav-footer li {
        list-style: none;
        padding-left: 20px;
    }
}